<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Pet Booking</h2>

            <form action="booking" method="post">
                <div>
                    <label for="pet">เลือกสัตว์เลี้ยงของคุณ</label>
                    <select name="pet" id="pet" required>
                        <option value="" disabled selected>-- เลือกสัตว์เลี้ยง --</option>
                        {{range .}}
                        
                    
                        
                            <option value="{{.Id}}">{{.Name}} - {{.Breed}}</option>
                            
                    {{end}}
                       
                    </select>
                </div>
                
                <div>
                    <label for="startDate">Start Date</label>
                    <input type="date" id="startDate" name="startDate" >
                </div>
                
                <div>
                    <label for="startTime">Start Time</label>
                    <select id="startTime" name="startTime" >
                        <option value="" disabled selected>-- เลือกเวลา --</option>
                        <!-- เวลาเริ่มต้นจะถูกเติมข้อมูลที่นี่ด้วย JavaScript -->
                    </select>
                </div>
        
                <div>
                    <label for="endDate">End Date</label>
                    <input type="date" id="endDate" name="endDate" >
                </div>

                <div>
                    <label for="endTime">End Time</label>
                    <select id="endTime" name="endTime" >
                        <option value="" disabled selected>-- เลือกเวลา --</option>
                        <!-- เวลาสิ้นสุดจะถูกเติมข้อมูลที่นี่ด้วย JavaScript -->
                    </select>
                </div>
                
                <div>
                    <label for="requests">Requests:</label>
                    <textarea id="requests" name="requests" rows="4" cols="50"></textarea>
                </div>
        
                <div>
                    <button type="submit">ลงทะเบียน</button>&nbsp;<button type="reset">ยกเลิก</button>
                </div>
            </form>
    </div>	

    <script src="assets/booking.js"></script> <!-- เชื่อมโยงไฟล์ JavaScript ของคุณ -->
</body>
</html>