<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="view/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แก้ไขข้อมูลสัตว์เลี้ยง - Pet Harmony</title>
    <link rel="stylesheet" href="static/style_header.css?v=1.0" />
    <link rel="stylesheet" href="static/editpet_page.css?v=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Prompt:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script src="js/HeaderAndFooter.js"></script>
</head>

<body>
    {{template "header" .}}

    <div class="container">
        <h2>แก้ไขข้อมูลสัตว์เลี้ยง</h2>
        <form action="editmypet" method="post">
            <input type="hidden" value="{{.Pet.Id}}" name="Id">
            <div>
                <label for="pet_name">ชื่อสัตว์เลี้ยง:</label>
                <input type="text" name="pet_name" maxlength="50" value="{{.Pet.Name}}" required>
            </div>

            <div>
                <label for="breed">ประเภทสัตว์เลี้ยง:</label>
                <select name="breed">
                    <option value="หมา" {{if eq .Pet.Breed "หมา" }}selected{{end}}>หมา</option>
                    <option value="แมว" {{if eq .Pet.Breed "แมว" }}selected{{end}}>แมว</option>
                    <option value="กิ้งก่า" {{if eq .Pet.Breed "กิ้งก่า" }}selected{{end}}>กิ้งก่า</option>
                    <option value="กบ" {{if eq .Pet.Breed "กบ" }}selected{{end}}>กบ</option>
                    <option value="เต่า" {{if eq .Pet.Breed "เต่า" }}selected{{end}}>เต่า</option>
                    <option value="งู" {{if eq .Pet.Breed "งู" }}selected{{end}}>งู</option>

                </select>
            </div>

            <div>
                <label for="species">สายพันธุ์สัตว์เลี้ยง:</label>
                <input type="text" name="species" maxlength="100" value="{{.Pet.Species}}" required>
            </div>

            <div>
                <label>เพศสัตว์เลี้ยง:</label>
                <div>
                    <label class="radio-label">
                        <input type="radio" name="pet_gender" value="เพศผู้" {{if eq .Pet.Gender "เพศผู้"
                            }}checked{{end}} required>
                        <span>เพศผู้</span>
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="pet_gender" value="เพศเมีย" {{if eq .Pet.Gender "เพศเมีย"
                            }}checked{{end}}>
                        <span>เพศเมีย</span>
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="pet_gender" value="ไม่ทราบ" {{if eq .Pet.Gender "ไม่ทราบ"
                            }}checked{{end}}>
                        <span>ไม่ทราบ</span>
                    </label>
                </div>
            </div>

            <div>
                <label for="pet_age">อายุ:</label>
                <input type="text" name="pet_age" placeholder="ระบุเป็นปี/เดือน" maxlength="50" value="{{.Pet.Age}}"
                    required>
            </div>

            <div>
                <button type="submit">แก้ไขข้อมูล</button>
            </div>

            <div>
                <a href="/listpets" class="link-pets">แสดงรายชื่อสัตว์เลี้ยงของคุณ</a>
            </div>
        </form>
    </div>
    <special-footer></special-footer>
</body>

</html>