<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ใบเสร็จการจอง - Pet Harmony</title>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style_header.css?v=1.0" />
    <link rel="stylesheet" href="static/receipt_page.css?v=1.0">
</head>
<body>
  {{template "header" .}}

    <div class="receipt">
        <h1>ใบเสร็จการจอง</h1>
        
        <div class="booking-details">
            <div class="booking-item">
                <span>เลขที่การจอง:</span>
                <span>{{.Booking.Id}}</span>
            </div>
            <div class="booking-item">
                <span>วันที่เริ่มต้น:</span>
                <span>{{.Booking.StartDate}}</span>
            </div>
            <div class="booking-item">
                <span>วันที่สิ้นสุด:</span>
                <span>{{.Booking.EndDate}}</span>
            </div>
            <div class="booking-item">
                <span>คำขอพิเศษ:</span>
                <span>{{.Booking.Request}}</span>
            </div>
        </div>

        <div class="booking-item">
            <span>จำนวนวัน:</span>
            <span>{{.DayCount}} วัน</span>
        </div>

        <div class="total">
            <span>กรุณาถ่ายภาพหน้าจอเพื่อเป็นหลักฐานในการจอง</span>
        </div>

        <a href="/">กลับสู่หน้าโฮม</a>

    </div>
    <special-footer></special-footer>
</body>
</html>