<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมัครสมาชิก - Pet Harmony</title>
</head>
<body>
    <div class="container">
        <h2>สมัครสมาชิก</h2>
        <form action="" method="post">
            <div>
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname">
            </div>
            <div>
                <label for="lastname">Lastname</label>
                <input type="text" name="lastname">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <div>
                <button type="submit">Register</button>&nbsp;<button type="reset">Cancel</button>
            </div>        
        </form>
    </div>
</body>
</html>